In [35]:
import pandas as pd
from numpy import nan

#Read file
mentors = pd.read_csv('https://raw.githubusercontent.com/cgadwa1/vipList/master/vipForG.csv')
vips = pd.read_csv('https://raw.githubusercontent.com/cgadwa1/vipList/master/vipForG2.csv')

#Renamed columns 
mentors = mentors[['Last Name', 'First Name']]
mentors.rename(columns={'Last Name':'last_name', 'First Name': 'first_name'}, inplace=True)

vips = vips[['Last Name', 'First Name']]
vips.rename(columns={'Last Name':'last_name', 'First Name': 'first_name'}, inplace=True)

#Merged two tables
result = pd.merge(mentors, vips, on='last_name', how='left')
result = result[['last_name', 'first_name_x', 'first_name_y']]

#Made vip column more meaningful 
result.rename(columns={'last_name':'last_name', 'first_name_x': 'first_name', 'first_name_y': 'vip'}, inplace=True)
result['vip'] = result['vip'].fillna('No')

for i in result.index:
    if result.at[i, 'vip'] != 'No':
        result.at[i, 'vip'] = "Yes"

result.head(30)

   last_name first_name  vip
0      Last1     First1   No
1      Last2     First2   No
2      Last3     First3   No
3      Last4     First4   No
4      Last5     First5   No
5      Last6     First6   No
6      Last7     First7   No
7      Last8     First8   No
8      Last9     First9   No
9     Last10    First10   No
10    Last11    First11   No
11    Last12    First12   No
12    Last13    First13   No
13    Last14    First14   No
14    Last15    First15  Yes
15    Last16    First16   No
16    Last17    First17   No
17    Last18    First18   No
18    Last19    First19   No
19    Last20    First20   No
20    Last21    First21  Yes
21    Last22    First22   No
22    Last23    First23   No
23    Last24    First24   No
24    Last25    First25   No
25    Last26    First26   No
26    Last27    First27   No
27    Last28    First28   No